/* DESAFIO JAVA SCRIPT */

*{margin: 0;padding: 0;}

html{
  height: 100%;
  
}
body{
  font-family: "trebuchet MS", tahoma, arial;
  
}

#formulario{
  width: 500px;
  margin: 50px auto;
  text-align:center;
  position: relative;
}

#formulario fieldset{
  background-color:white;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding: 30px 30px;
  box-sizing: border-box;/*nao deixa o width ficar maior que o objeto pai, no caso o formulario*/
  box-shadow:0 0 15px 1px rgba(0, 0, 0, 0.4);
  width: 80%;
  margin:0 10%;/* centraliza*/
  position:absolute;
}

#formulario fieldset:not(:first-of-type){
  display: none;
}

#formulario input,#formulario textarea, #formulario select{
  padding: 10px;
  border:1px solid rgba(30,144,255, 0.9);
  border-radius: 4px;
  outline: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px "trebuchet MS", tahoma, arial;
  color:#4F4F4F;
  margin-bottom: 10px;
  margin-top: 10px;

}
#formulario select{
  background-color: white;
}
#formulario label{
  margin-bottom: 0px;
  margin-top: 10px;
  box-sizing: border-box;
  text-align: left;
  color: rgba(30,144,255, 0.9);
}
#formulario h2{
  color: #4682B4;
  width: 100%;
  margin-bottom: 30px;
  font-size: 22px "trebuchet MS", tahoma, arial; 
}

#formulario .acao {
  background-color: #4682B4;
  box-sizing: border-box;
  width: 100px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
  float: right;
}

#formulario .acao:hover {
  background-color: #ADD8E6;
  color: #4682B4;
  cursor: pointer;
}

#formulario #progress{
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#formulario #progress li{
  list-style-type: none;
  color: #4682B4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  float: left;
  width: 33.00%;
  position: relative;
}
#formulario #progress li:before{
  content: counter(step);
  counter-increment: step;
  width: 20px;
  display: block;
  line-height: 20px;
  background: #00BFFF;
  color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:0 auto 10px auto;
  
}
#formulario #progress li:after{
  content: '';
  width: 100%;
  background:#00BFFF;
  height: 2px;
  position: absolute;
  top: 9px;
  left: -50%;
  z-index: -1;
}
#formulario #progress li:first-child:after{
  content: none;
}
#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
  background:#4682B4;
}

/* menu horizontal */
#menu ul {
  padding:0px;
  margin:0px;
  background-color:#4682B4;
  list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
  padding: 8px 10px;
  display: inline-block;
  /* visual do link */
  background-color:#4682B4;
  color: white;
  text-decoration: none;
  border-bottom:3px solid #4682B4;
  font-size: 22px "trebuchet MS", tahoma, arial;
}

#menu ul li a:hover {
  background-color:#D6D6D6;
  color: #6D6D6D;
  border-bottom:3px solid #00BFFF;
}

#dropdown-content {
  display: none;
  position: absolute;
  
}

#dropdown:hover #dropdown-content {
  display: block;
}
#dropdown:hover #dropdown-content a {
  display: block;
  text-align: center;
  margin-left: 130px;
  
}

/* Mensagem de erros e sucesso */

.erro{
  width: 350px;
  padding: 2px;
  background:#B22222 ;
  border: 2px solid #8B0000;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  text-align: center 
}
.sucesso{
  width: 350px;
  padding: 2px;
  background-color: #008000	;
  border: 2px solid #006400;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  text-align: center ;
}

/* butao de adicionar*/

#formulario .addContato {
  background-color: #008000;
  border: 2px solid #006400;
  border-radius: 10px;
  box-sizing: border-box;
  width: 70%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 5%;
  float: center;
}
#formulario .addContato:hover {
  background-color: #32CD32;
  color: white;
  cursor: pointer;
}
#formulario .apagarContato{
  box-sizing: border-box;
  background-color: red;
  width: 10%;
  height: 30px;
  padding: 0;
  display: inline;
  float: right;
  border: none;
}
#formulario .apagarContato:hover{
  background-color:#8B0000; 
}
#formulario .h2novocontato{
  box-sizing: border-box;
  width: 100%;
  display: inline;
  text-align: right;
  padding: 5px;
  padding-left: 60px;
}

/* tabelas index */

table{
  width: 100%;
  background-color: white;
  margin: 50px auto;
  margin-top: 0px;
  position: relative; 
  box-sizing: border-box;

}
thead{
  padding: 50px;
  background-color:#82bae4 ;
  color: rgb(117, 112, 112);
  height: 50px;
  text-align: center;
  text-decoration:none;
  border-radius: 15px;
}
tbody{
  text-decoration:none;
}

.principalIndex{
  background-color:white;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding: 30px 30px;
  box-sizing: border-box;
  box-shadow:0 0 15px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin: 30px auto;
  margin-top: 25px;
  
}

.principalIndex h3{
  color:#4682B4;
  margin-bottom: 25px;
}

.adicionarCliente{
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color: white;
  background-color: #4682B4;
  border-color: #82bae4;
  cursor: pointer;

}

.adicionarCliente:hover{
  background-color: #82bae4;
  border-color: #4682B4;
  color:#4682B4;
}
/* campos pesquisa */

.mainmenubtn {
  background-color: #4682B4;
  border-color: #82bae4;
  color: white;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  cursor: pointer;
  padding:5px;
  margin-top:15px;
  width: 100px;
  text-align: left;
  margin-bottom: 0px;

}
.mainmenubtn:hover {
  background-color: #82bae4;
  border-color: #4682B4;
  color:#4682B4;
  margin: 0;
}
.dropdown {
  margin: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;

}
.dropdown-child {
  margin: 0;
  display: none;
  background-color: #ebebeb;
  width: 1055px;
}
.dropdown-child a {
  margin: 0;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.show-menu-dw {
  display: block !important;
}

/* tela view Cliente */

.view{
  background-color: white;
  padding: 20px;
  width:700px;
  margin: 20%;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  box-shadow:0 0 15px 1px rgba(0, 0, 0, 0.4);
  
}

.view h5{
  color:#4682B4;
  margin-bottom: 5px;

}

.view h3{
  color:#4682B4;
  margin-bottom: 25px;
  margin-top: 5px;
}
/* paginação index */
ul.pagination li a {
  color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
  background-color: #4682B4;
  color: #FFF;
  font-weight: bold;
  cursor: default;
}
ul.pagination .disabled:hover a {
  background: none;
}

.paginator {
  text-align: center;
}

.paginator ul.pagination li {
  float: none;
  display: inline-block;
}

.paginator p {
  text-align: right;
  color: rgba(0, 0 ,0 , 0.54);
}

/* tela editar */

#divEdit {
  background: white;
  padding: 30px;
  padding-bottom: 30px;
  box-shadow:0 0 15px 1px rgba(0, 0, 0, 0.4);
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

#divEdit h3, h2{
  margin-top: 20px;
  color: #4682B4;

}

#edit input,#edit textarea,#edit select{
  padding: 10px;
  border:1px solid rgba(30,144,255, 0.9);
  border-radius: 4px;
  outline: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px "trebuchet MS", tahoma, arial;
  color:#4F4F4F;
  margin-bottom: 10px;
  margin-top: 10px;
}
#edit select{
  background-color: white;
}

#btnenviar {
  background-color: #4682B4;
  border-color: #82bae4;
  color:#f4f6f8;
  width: 20%;
}
#btnenviar:hover {
  background-color: #82bae4;
  border-color: #4682B4;
  color:#f4f6f8;
}

#edit .apagarContato{
  box-sizing: border-box;
  background-color: red;
  width: 10%;
  height: 30px;
  padding: 0;
  display: inline;
  float: right;
  border: none;
}
#edit .apagarContato:hover{
  background-color:#8B0000; 
  color: white;
}

.btnRedirect{
  box-sizing: border-box;
  float: center;
  width: 32%;
  display: inline;
  border-radius: 4px;
  outline: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color:white;
}

#btnStatus{
  width: 30%;
  border-color: #C0C0C0;
  background-color: #A9A9A9;

}
#btnEdit{
  background-color: #6495ED;
  border-color: #87CEFA;
  width: 25%;

}
#btnView{
  background-color: #3CB371;
  border-color: #8FBC8F;
  width: 32%;

}

#btnStatus:hover{
  width: 30%;
  border:1px solid #D3D3D3;
  background-color: #D3D3D3;
  color: #A9A9A9;

}
#btnEdit:hover{
  background-color: #87CEEB;
  border-color: #ADD8E6;
  width: 25%;
  color: #6495ED;

}
#btnView:hover{
  background-color: #90EE90;
  border-color: #8FBC8F;
  width: 32%;
  color: #3CB371;

}
#btnVoltar{
  margin-top: 10px;
  background-color: #6495ED;
  border-color: #87CEFA;
  width: 30%;
  height: 40px;
  float: center;
}
#btnVoltar:hover{
  background-color: #87CEEB;
  border-color: #ADD8E6;
  width: 30%;
  height: 40px;
  color: #6495ED;

}
#btnEnviar{
  margin-top: 10px;
  background-color: #6495ED;
  border-color: #87CEFA;
  width: 30%;
  height: 40px;
}
#btnEnviar:hover{
  background-color: #87CEEB;
  border-color: #ADD8E6;
  width: 30%;
  height: 40px;
  color: #6495ED;
}

